---
import { getPlaceHolderImage } from '@/utils/image-placeholder';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="transform-3d">
    <div class="translate-z-0.5">
      <img src={getPlaceHolderImage()} />
    </div>
    <div>
      <img src={getPlaceHolderImage()} />
    </div>
    <div class="-translate-z-0.5">
      <img src={getPlaceHolderImage()} />
    </div>
  </div>
</Layout>
